*{  
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}
body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.landingpage{
    position: relative;
    background-image: url(images/feature/zerotwo.gif);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 45rem;
}
/*                                              top bar                                                  */





.topbar{
    height: 90px;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1.4rem 10.5rem;
    align-items: center;
}
@media screen and (max-width:600px){
    .topbar{
        height: 90px;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 1.4rem 1rem;
        align-items: center;
    }
}
@media screen and (max-width:1280px){
    .topbar{
        height: 90px;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 1.4rem 1rem;
        align-items: center;
    }
}
.topbar__logo{
    position: relative;
    width: 15rem;
    height: auto;

}
@media screen and (max-width:600px){
    .topbar__logo{
        position: relative;
        width: auto;
        height: 2rem; 
    }
}
.topbar__rightbutton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.languagebtn{
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
    margin-right: 1rem;
    transition: 0.5s;
}
.languagebtn select{
    -webkit-appearance: none;
    position: absolute;
    font-size: 1rem;
    color: black;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 0 0 2.2rem;    
}
@media screen and (max-width:600px){
    .languagebtn select{
        -webkit-appearance: none;
        opacity: 0;
        color: black;
        position: absolute;
        font-size: 1rem;
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 0 0 0 2.2rem;    
    }
}
@media screen and (max-width:600px){
    .languagebtn{
        color: rgb(0, 0, 0);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid rgb(52, 52, 52);
        padding: 0.5rem 0.7rem;
        border-radius: 4px;
        /* margin-right: 1rem; */
        transition: 0.5s;
        font-size: 0;
    }
}
.languagebtn:hover{
    background-color: rgba(255, 255, 255, 0.175);
    cursor: pointer;
}
.earth{
    width: 1rem;
    margin-right: 3.8rem;
}
@media screen and (max-width:600px){
    .earth{
        width: 1rem;
        margin-right: 0.5rem;
    }
}
.downarrow{
    width: 0.5rem;
    height: 0.3rem;
    filter: invert(1);
    margin-left: 0.7rem;
}
@media screen and (max-width:600px){
    .downarrow{
        width: 0.5rem;
        height: 0.3rem;
        filter: invert(1);
        margin-left: 0;
    }
}
.sign{
    background-color: rgba(0, 0, 0, 0.572) ;
    padding: 0.6rem 1rem;
    color: white;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    align-items: center;
    transition: 0.5s;
}
@media screen and (max-width:600px){
    .sign{
        background-color: rgba(0, 0, 0, 0.339) ;
        padding: 0.6rem 1rem;
        color: white;
        border-radius: 4px;
        font-size: 0.8rem;
        font-weight: 600;
        align-items: center;
        transition: 0.5s;
    }
}
.sign:hover{
    background-color: rgba(0, 0, 0, 0.694) ;
    cursor: pointer;
}
/*                                                          opening title                                                */




.openingtitle{
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11.5rem;
    text-shadow: 1px 1px 90px rgba(0, 0, 0, 0.764);
}
@media screen and (max-width:600px){
    .openingtitle{
        color: rgb(0, 0, 0);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        margin-top: 4.2rem;
        margin-right: 3rem;
        margin-left: 3rem;
        border-radius: 4px;
        text-shadow: 1px 1px 90px rgba(0, 0, 0, 0.764);
        /* background: radial-gradient(circle at left, rgb(188, 188, 188), rgba(169, 168, 166, 0.18) ); */
    }
}
@media screen and (max-width:960px){
    .openingtitle{
        color: rgb(0, 0, 0);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        margin-top: 4.2rem;
        margin-right: 3rem;
        margin-left: 3rem;
        border-radius: 4px;
        text-shadow: 1px 1px 90px rgba(0, 0, 0, 0.764);
        /* background: radial-gradient(circle at left, rgb(188, 188, 188), rgba(169, 168, 166, 0.18) ); */
    }
}
.openingtitle2{
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.openingtitle__heading{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:600px){
.openingtitle__heading{
    font-size: 2.9rem;
    margin-bottom: 1rem;
}
}
.openingtitle__sheading{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
@media screen and (max-width:600px){
    .openingtitle__sheading{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
    }
.opening__para{
    font-size: 1.2rem;
    font-weight: 500;
    /* text-shadow: 1px 0px 30px rgb(0, 0, 0); */
}
@media screen and (max-width:600px){
    .opening__para2{
        font-size: 1.2rem;
        padding: 0 3.5rem;
        font-weight: 500;
        text-shadow: none;
        /* text-shadow: 1px 0px 30px rgb(0, 0, 0); */
    }
    }
/*                                                          mail box                                                         */





.emailbox{
    position: relative;
    margin-top: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:600px){
    .emailbox{
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
    }
}
@media screen and (max-width:960px){
    .emailbox{
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
    }
}
#emailbox__btn{
    position: relative;
    padding: 1.26rem ;
    font-size: 1rem;
    width: 25rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-right: 1rem;
    font-size: 1rem;
}
@media screen and (max-width:600px){
    #emailbox__btn{
        position: relative;
        padding: 1.2rem 1.5rem !important;
        font-size: 1rem;
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        margin: 1rem 0;
        margin-top: 2rem;
    }
}
@media screen and (max-width:960px){
    #emailbox__btn{
        position: relative;
        padding: 1.5rem;
        font-size: 1rem;
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        margin: 1rem 0;
        margin-top: 2rem;
    }
}
@media screen and (max-width:600px){
    #emailbox__btn:focus{
        margin-top: 2rem ;
        margin: 2rem 0 1rem 0 !important;
        position: relative;
        padding: 1.5rem !important;
        font-size: 1rem;
        width: 100% !important;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        padding-top: 2rem !important;
        padding-bottom: 1rem !important;
    }
    input:focus#emailbox__btn::placeholder{
        transition: all 0.5s;
        transform: scale(0.9) translateX(-6%) translateY(-145%);
        color: rgba(0, 0, 0, 0.631);
    }
}
@media screen and (max-width:960px){
    #emailbox__btn:focus{
        margin-top: 2rem ;
        margin: 2rem 0 1rem 0 !important;
        position: relative;
        padding: 1.5rem !important;
        font-size: 1rem;
        width: 100% !important;
        border: 1px solid black;
        border-radius: 4px;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        padding-top: 2rem !important;
        padding-bottom: 1rem !important;
    }
    input:focus#emailbox__btn::placeholder{
        transition: all 0.5s;
        transform: scale(0.9) translateX(-6%) translateY(-145%);
        color: rgba(0, 0, 0, 0.631);
    }
}
#emailbox__btn:focus{
    position: relative;
    padding:  0 1.26rem ;
    font-size: 1rem;
    width: 25rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-right: 1rem;
    font-size: 1rem;
    padding-top: 1.8rem;
    padding-bottom: 0.72rem;
    outline: none;
}
#emailbox__btn::placeholder{
    transition: all 0.5s;
    font-size: 1rem;
}
input:focus#emailbox__btn::placeholder{
    transition: all 0.5s;
    transform: scale(0.9) translateX(-6%) translateY(-145%);
    color: rgba(0, 0, 0, 0.631);
}
.emailbox__getstarted{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 4px;
    width: 12.5rem;
    background-color: rgb(35, 35, 35) ;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: all 0.5s;
}
@media screen and (max-width:600px){
    .emailbox__getstarted{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0 !important;
        font-size: 1.3rem !important;
        border-radius: 4px;
        width: 11rem !important;
        background-color: rgb(35, 35, 35) ;
        color: rgb(255, 255, 255);
        font-weight: 800;
        transition: all 0.5s;
        white-space: nowrap;
    }
}
@media screen and (max-width:960px){
    .emailbox__getstarted{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3rem 0.2rem;
        font-size: 1.5rem;
        border-radius: 4px;
        width: 12.5rem;
        background-color: rgb(35, 35, 35) ;
        color: rgb(255, 255, 255);
        font-weight: 800;
        transition: all 0.5s;
        white-space: nowrap;
    }
}
.emailbox__getstarted:hover{
    background-color: rgb(46, 46, 46) ;
    cursor: pointer;
}
.emailbox__senticon{
    position: relative;
    width: 1.3rem;
    margin-left: 0.5rem;
    filter: invert(1);
}
@media screen and (max-width:600px){
    .emailbox__senticon{
        position: relative;
        width: 1.2rem;
        margin-left: 0.2rem !important;
        filter: invert(1);
    }
}
/*                                                                              bottomfeature                            */




.bottomfuntion{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
@media screen and (max-width:600px){
    .bottomfuntion{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.87);
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
    }
}
@media screen and (max-width:960px){
    .bottomfuntion{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.87);
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
    }
}
.bottomfuntion__informationbox{
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: radial-gradient(circle at center, rgba(252, 252, 252, 0.184), rgba(0, 0, 0, 0.034));
    border-top-right-radius: 70rem;
    border-top-left-radius: 70rem;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
    border-image: linear-gradient(rgb(252, 252, 252), rgba(0, 0, 0, 0.323)) ;
    margin-top: 1rem;
    width: 70%;
    height: 8.5rem;
}
@media screen and (max-width:600px){
    .bottomfuntion__informationbox{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background: radial-gradient(circle at center, rgba(252, 252, 252, 0.184), rgba(0, 0, 0, 0.034));
        border-top-right-radius: 70rem;
        border-top-left-radius: 70rem;
        border-bottom-left-radius: 50rem;
        border-bottom-right-radius: 50rem;
        border-image: linear-gradient(rgb(252, 252, 252), rgba(0, 0, 0, 0.323)) ;
        width: 100%;
        height: 8.5rem;
    }
}
@media screen and (max-width:960px){
    .bottomfuntion__informationbox{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background: radial-gradient(circle at center, rgba(252, 252, 252, 0.184), rgba(0, 0, 0, 0.034));
        border-top-right-radius: 70rem;
        border-top-left-radius: 70rem;
        border-bottom-left-radius: 50rem;
        border-bottom-right-radius: 50rem;
        border-image: linear-gradient(rgb(252, 252, 252), rgba(0, 0, 0, 0.323)) ;
        width: 100%;
        height: 8.5rem;
    }
}
.bottomfuntion__informationbox.popcornicon{
    margin: 0px;
    margin-bottom: 1rem;
    position: relative;
    width: 9.5rem;
    height: auto;
    background: none;
}
@media screen and (max-width:600px){
    .bottomfuntion__informationbox.popcornicon{
        margin: 0px;
        position: relative;
        width: 4rem;
        height: auto;
        background: none;
        margin-top: -10.5rem;
        margin-bottom: 0.6rem;
        margin-right: 17.5rem !important;
    }
}
@media screen and (max-width:960px){
    .bottomfuntion__informationbox.popcornicon{
        margin: 0px;
        position: relative;
        width: 9.5rem;
        height: auto;
        background: none;
        margin-top: -10.5rem;
        margin-bottom: 0.6rem;
        margin-right: 25em;
        
    }
}
.bottomfuntion__informationbox.content{
    width: 50%;
    height: 2rem;
    margin-left: 0.2rem !important;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    background: none;
}
@media screen and (max-width:600px){
    .bottomfuntion__informationbox.content{
        width: 80%;
        height: 2rem;
        margin: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        background: none;
    }
}
@media screen and (max-width:960px){
    .bottomfuntion__informationbox.content{
        width: fit-content;
        height: 2rem;
        margin: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        background: none;
    }
}
.bottomfuntion__informationbox.content.heading{
    font-size: 1.2rem;
    width: 100%;
}
@media screen and (max-width:960px){
    .bottomfuntion__informationbox.content.heading{
        font-size: 1.5rem;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .bottomfuntion__informationbox.content.heading{
        font-size: 1.1rem;
        width: 100%;
    }
}
.bottomfuntion__informationbox.content.para{
    font-size: 1rem;
    width: 100%;
}
.bottomfuntion__informationbox.content a:hover{
    color: rgb(227, 227, 227);
}
.bottomfuntion__informationbox.content.url{
    width: fit-content;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottomfuntion__informationbox.content.url.arrow{
    position: relative;
    filter: invert();
    width: 0.8rem;
    height: 2.2rem;
    opacity: 80%;
}
.bottomfeature{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bottomfeature__box{
    border-bottom: 7px solid rgba(255, 255, 255, 0.234);
    width: 100%;
    position: relative;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 1rem;
}
@media screen and (max-width:600px){
    .bottomfeature__box{
        border-bottom: 7px solid rgba(255, 255, 255, 0.234);
        width: 100%;
        position: relative;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 1rem 0.5rem !important;
    }
    .bottomfeature__box.para{
        font-size: 1.5rem;
        height: auto;
        border-bottom: unset;
        margin-top: 0.7rem;
        justify-content: left;
        padding: 0.5rem 0.5rem !important;
    }
}
.bottomfeature__box.content.text1{
    margin-right: 10rem;
}
.bottomfeature__box.content.text3{
    margin-right: 5rem;
}
@media screen and (max-width:600px){
    .bottomfeature__box.box2{
        flex-direction: column-reverse;
    }
    .bottomfeature__box.box4{
        flex-direction: column-reverse;
    }
}
.bottomfeature__box.img{
    background: none;
    border-bottom: unset;
    width: auto;
    height: 20rem;
    transition: 0.5s;
}
@media screen and (max-width:600px){
    .bottomfeature__box.img{
        background: none;
        border-bottom: unset;
        width: auto;
        height: 20rem;
        transition: 0.5s;
    }
    .bottomfeature__box.img.feature2{
        width: 100% !important;
        height: 17.5rem !important;
    }
    .bottomfeature__box.img.feature4{
        width: 100% !important;
        height: auto;
    }
}
@media only screen and (max-width:960px) {
    .bottomfeature__box{
        border-bottom: 7px solid rgba(255, 255, 255, 0.234);
        width: 100%;
        position: relative;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 1rem;
        margin: 0 !important;
    }
    .bottomfeature__box.content{
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: unset;
        width: fit-content;
    }
    .bottomfeature__box.heading{
        font-size: 2.5rem !important;
        border-bottom: unset;
        height: auto;
        justify-content: left;
        padding: 0 !important;
    }
    .bottomfeature__box.img{
        background: none;
        border-bottom: unset;
        width: auto;
        height: 18rem;
        transition: 0.5s;
    }
    .bottomfeature__box.img.feature2{
        background: none;
        border-bottom: unset;
        width: 50%;
        height: 16rem;
        transition: 0.5s;
        object-fit: cover;
        object-position: 50% 50%;
        transform: scale(1);
    }
    .bottomfeature__box.img.feature4{
        background: none;
        border-bottom: unset;
        width: 40%;
        height: 16rem;
        transition: 0.5s;
        object-fit: cover;
        object-position: 50% 50%;
    }
}
.bottomfeature__box.img:hover{
    height: 18rem;
}
.bottomfeature__box.content{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: unset;
    width: fit-content;
}
@media screen and (max-width:600px){
    .bottomfeature__box.content{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-bottom: unset;
        width: fit-content;
        margin: 0 !important;
        padding: 0 !important;
        height: fit-content;
        text-align: center;
        }
}
.bottomfeature__box.heading{
    font-size: 3rem;
    border-bottom: unset;
    height: auto;
    justify-content: left;
    padding: 0 0;
}
@media screen and (max-width:600px){
    .bottomfeature__box.heading{
        font-size: 2.5rem;
        border-bottom: unset;
        height: auto;
        padding: 0;
        justify-content: left;
        margin: 0
    }
}
.bottomfeature__box.para{
    font-size: 1.5rem;
    height: auto;
    border-bottom: unset;
    margin-top: 0.7rem;
    justify-content: left;
    padding: 0 0;
}
@media screen and (max-width:600px){
    .bottomfeature__box.para{
        font-size: 1.5rem;
        width: 100%;
        height: auto;
        border-bottom: unset;
        color: rgb(199, 199, 199);
    }
}
.bottomfuntion__faq{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77%;
    color: rgb(255, 255, 255);
}
.bottomfuntion__faq h1{
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
@media screen and (max-width:600px) {
    .bottomfuntion__faq h1{
        font-size: 2.7rem;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }
}
.bottomfuntion__faq.btn{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.65rem;
    font-weight: 400;
    background-color: rgba(65, 65, 65, 0.428);
    padding: 0 1.5rem;
    width: 100%;
}
@media screen and (max-width:600px) {
    .bottomfuntion__faq.btn{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: rgba(65, 65, 65, 0.428);
        padding: 0 1.5rem;
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .bottomfuntion__faq.answer.show{
        color: rgba(255, 148, 225, 0.621);
        margin-top: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem !important;
        text-decoration: underline;
        font-weight: 100;
        background-color: rgba(52, 52, 52, 0.428);
        padding: 1.5rem 1.5rem;
        width: 100%;
        transition: all 0.2s;
        max-height: 5rem;
    }
    .bottomfuntion__faq.btn:hover{
        cursor: pointer;
        background-color: rgba(91, 91, 91, 0.428);
    }
    .bottomfuntion__faq.answer.show{
        color: rgba(255, 148, 225, 0.621);
        margin-top: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem !important;
        text-decoration: underline;
        font-weight: 100;
        background-color: rgba(52, 52, 52, 0.428);
        padding: 1.5rem 1.5rem;
        width: 100%;
        transition: all 0.2s;
        max-height: 5rem;
    }
    .bottomfuntion__faq.answer.show:hover{
        cursor: pointer;
        background-color: rgba(42, 42, 42, 0.397);
        color: rgba(251, 169, 228, 0.876);
        text-decoration: none;
    }
    .bottomfuntion__faq.answer{
        color: rgba(255, 148, 225, 0.621);  
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem !important;
        text-decoration: underline;
        font-weight: 100;
        padding: 0rem 1.5rem;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s;
    }
}
.bottomfuntion__faq.btn:hover{
    cursor: pointer;
    background-color: rgba(91, 91, 91, 0.428);
}
.bottomfuntion__faq.answer.show{
    color: rgba(255, 148, 225, 0.621);
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 100;
    background-color: rgba(52, 52, 52, 0.428);
    padding: 1.5rem 1.5rem;
    width: 100%;
    transition: all 0.2s;
    max-height: 5rem;
}
.bottomfuntion__faq.answer.show:hover{
    cursor: pointer;
    background-color: rgba(42, 42, 42, 0.397);
    color: rgba(251, 169, 228, 0.876);
    text-decoration: none;
}
.bottomfuntion__faq.answer{
    color: rgba(255, 148, 225, 0.621);  
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 100;
    padding: 0rem 1.5rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
}
.bottomfuntion__faq.cross{
    font-size: 4.2rem;
    font-weight: 230;
    width: fit-content;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.bottomfuntion__bottommailbox{
    padding-bottom: 4rem;
    width: 100%;
    border-bottom: 7px solid rgba(255, 255, 255, 0.234);
}
.bottomfuntion__bottomurl{
    color: rgb(174, 174, 174);
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    position: relative;
    width: 78%;
    transition: all 1s;
}
.bottomfuntion__bottomurl.toppara{
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.bottomfuntion__bottomurlcontent{
    width: 22rem;
    min-width: 25%;
    font-size: 1rem;
    font-weight: 300;  
    margin-bottom: 1rem;  
}
.bottomfuntion__bottomurl.para{
    width: fit-content;
}
.bottomfuntion__bottomurl.para:hover{
    cursor: pointer;
    color: rgb(201, 201, 201);
}
.bottomfuntiom__bottomlanguagebtn{
    width: 78%;
    margin: 3rem 0;

}
.languagebtn2{
    width: fit-content;
    filter: invert(1);
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.4rem 0.7rem;
    transition: 0.5s;
}
.languagebtn2 select{
    -webkit-appearance: none;
    position: absolute;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 0 0 2.2rem;    
    opacity: 1;
}
@media screen and (max-width:600px) {
    .languagebtn2 select{
        -webkit-appearance: none;
        color: rgb(0, 0, 0);
        position: absolute;
        font-size: 1rem;
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 0 0 0 2.2rem;    
        opacity: 0;
    }
}
.languagebtn2:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
}